/* CSS3 EFFECTS */

/* SECOND EFFECTS */
.view 
{
   width: 510px;
   height: 191px;
   margin-top:10px;
   border: 3px solid #fff;
   overflow: hidden;
   position: relative;
   text-align: left;
   box-shadow: 0px 0px 12px #000;
   cursor: default;
}
.view .mask, .view .content 
{
   width: 510px;
   height: 191px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
   top:40px;
}
.no-effect, .no-effect1
{
	display: block;
	position: relative;
	padding:0;
	padding-left:120px;
	padding-bottom:0px;
	margin-top:0px;
	margin-bottom:0px;
	height:27px;
	color:rgba(255,255,255,0.8);
	text-indent:0px;
	font-size:22px;
	font-family: 'Ubuntu Condensed', serif;
	text-transform: uppercase;
	text-decoration: none;
}
.no-effect
{
	width:400px;
	background:#000000;
	padding-bottom:14px;
	margin-bottom:3px;
}	
.no-effect:hover
{
	color:#FFF;
}
.no-effect:active
{
	color:#FFF;
	background:darkred;
}
.view .no-effect1
{	
	font-size:15px;
	padding-left:110px;
	padding-top:7px;
	border-bottom:1px solid rgba(0,0,0,0);
}	
.view .no-effect1:hover
{	
	background:rgba(0,0,0,0.25);
	border-bottom:1px solid rgba(0,0,0,0.4);
}	
.view a.aaa
{
	width: 210px;
	color:rgba(255,255,255,0.8)!important;
	background:rgba(0,0,0,0.6);
	padding: 4px 10px;
}	
.view a.aaa:hover
{
	color:#FFF!important;
	background:#000;
}
.view a.aaa:active
{
	background:darkred;
}

.view a.attacked
{
	width: 210px;
	color:rgba(0,0,0,0.8)!important;
	background:rgba(255,255,255,0.5);
	padding: 4px 10px;
	margin-right:3px;
	#-webkit-border-radius: 27px;
	#border-radius: 27px;
}	
.view a.attacked:hover
{
	color:#000;
	background:#FFF;
}	
.view a.attacked:active
{
	background:darkred;
}	